.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height:100vh;
}
body{
    margin:0;
}
.rest{
    display:flex;
    justify-content: space-between;
    width:70vw;
    align-items: center;

}
.tic-tac-toe{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 400px;
    height: 400px;
    gap:10px;
}
.title{
    font-weight:600;
    margin-bottom:40px;
}
.square{
    background-color: aliceblue;
    border-radius: 8px;
    border-color:black;
    border-width: 10px;
}

.player-info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.player-body{
    width:350px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    border: 2px solid black;
    padding: 2rem 1.5rem 1.5rem;
    margin-top:30px;
    margin-bottom:30px;
    font-size:20px;
}


.playerbox{
    position:relative;
}

.player-title{
    position: absolute;
    top:-15px;
    left:75px;
    background-color:rgb(0, 71, 47);
    color:white;
    border-radius:6px;
    font-size: 17px;
    padding:0.75rem
}
#player1 .player-title{
    background-color:rgb(34, 159, 216);
}

#player2 .player-title{
    background-color:rgb(233, 50, 50);
}
label{
    margin-top:15px;
}

button{
    padding:0.75rem;
    font-size:18px;
    background-color: bisque;
    border:none;
    border-radius: 8px;
    margin-right:50px;
}

button:hover{
    background-color: rgb(200, 174, 142);
}

.right-side{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.t3-title{
    font-size:32px;
    font-weight:500;
    letter-spacing:1px;
    margin-bottom:35px;
    font-style:italic;
    margin-bottom:40px;
}
input{
    font-size:16px;
}

.square{
    display:flex;
    justify-content: center;
    align-items: center;
}

.signed{
    font-size:50px;
}

.activeblue{
    background-color: rgb(47, 175, 254);
}

.activered{
    background-color: rgb(255, 105, 105);
}

.active{
    font-style: italic;
}

.collection-button{
    display:flex;
}

